/* BACKGROUNDS */
body {

  .bg-deep {
    background-color: var(--bs-white);

    [data-bs-theme="dark"] & {
      background-color: var(--bs-black);
    }
  }

  .bg-container {
    background-color: var(--bs-light-bg-subtle);

    [data-bs-theme="dark"] & {
      background-color: var(--bs-dark-bg-subtle);
    }
  }

  .bg-tertiary {
    background-color: var(--bs-tertiary);
  }

  .bg-tertiary-light {
    background-color: var(--bs-tertiary-light);
  }

  .bg-tertiary-dark {
    background-color: var(--bs-tertiary-dark);
  }
}