/* NAVIGATION */
body {

  .nav-link {
    color: var(--bs-dark-bg-subtle);
    font-weight: 300;

    [data-bs-theme="dark"] & {
      color: var(--bs-light);
    }
  }

  .nav-link.active {
    color: var(--bs-dark);
    font-weight: 500;

    [data-bs-theme="dark"] & {
      color: var(--bs-white);
    }
  }

  .breadcrumb-item a {
    text-decoration: none;
  }
}