:root:root,
[data-bs-theme="light"] {
  /* BRANDING */
  --bs-blue: #1096c1;
  --bs-blue-dark: #0e283a;
  /* --bs-indigo: #6610f2; ; */
  --bs-purple: #c051d2;
  /* --bs-pink: #d63384; */
  --bs-red: #fa0219;
  --bs-orange: #e56617;
  --bs-yellow: #eacc06;
  --bs-green: #6de99c;
  --bs-green-dark: #4dc27a;
  --bs-teal: #298085;
  /* --bs-cyan: #0dcaf0; */

  /* GRAYSCALE */
  --bs-black: #0e0a07;
  --bs-black-rgb: 14, 10, 7;

  --bs-dark: #1b2228;
  --bs-dark-rgb: 27, 34, 40;
  --bs-dark-bg-subtle: #252f37;
  /* --bs-dark-border-subtle: #adb5bd; */

  --bs-gray: #5c6870;
  --bs-gray-rgb: 92, 104, 112;
  --bs-gray-light: #aaa;
  --bs-gray-light-rgb: 92, 104, 112;

  --bs-light: #ece5df;
  --bs-light-rgb: 236, 229, 223;
  --bs-light-bg-subtle: #f6f2ef;
  /* --bs-light-border-subtle: #e9ecef; */

  --bs-white: #fcfbfa;
  --bs-white-rgb: 252, 251, 250;

  /* COLORS */
  --bs-primary: var(--bs-blue);
  --bs-primary-rgb: 16, 150, 193;
  --bs-primary-bg-subtle: #2e8cac;
  --bs-primary-border-subtle: #2e8cac;

  --bs-secondary: var(--bs-teal);
  --bs-secondary-rgb: 41, 128, 133;
  --bs-secondary-bg-subtle: #326f72;
  --bs-secondary-border-subtle: #326f72;

  --bs-tertiary-light: var(--bs-green-dark);
  --bs-tertiary-light-rgb: 77, 194, 122;

  --bs-tertiary-dark: var(--bs-blue-dark);
  --bs-tertiary-dark-rgb: 14, 40, 58;

  --bs-tertiary: var(--bs-tertiary-dark);
  --bs-tertiary-rgb: var(--bs-tertiary-dark-rgb);

  --bs-success: var(--bs-tertiary-light);
  --bs-success-rgb: var(--bs-tertiary-light-rgb);
  --bs-success-bg-subtle: #5db07d;
  --bs-success-border-subtle: #5db07d;

  --bs-info: var(--bs-purple);
  --bs-info-rgb: 192, 81, 210;
  --bs-info-bg-subtle: #af5abc;
  --bs-info-border-subtle: #af5abc;

  --bs-warning: var(--bs-yellow);
  --bs-warning-rgb: 234, 204, 6;
  --bs-warning-bg-subtle: #d4bd2c;
  --bs-warning-border-subtle: #d4bd2c;

  --bs-danger: var(--bs-red);
  --bs-danger-rgb: 250, 2, 25;
  --bs-danger-bg-subtle: #e42538;
  --bs-danger-border-subtle: #e42538;

  /* VARIANTS */
  /* --bs-primary-text-emphasis: #052c65; */
  /* --bs-secondary-text-emphasis: #2b2f32; */
  /* --bs-success-text-emphasis: #0a3622; */
  /* --bs-info-text-emphasis: #055160; */
  /* --bs-warning-text-emphasis: #664d03; */
  /* --bs-danger-text-emphasis: #58151c; */
  /* --bs-light-text-emphasis: #495057; */
  /* --bs-dark-text-emphasis: #495057; */

  /* --bs-emphasis-color: #000; */
  /* --bs-emphasis-color-rgb: 0, 0, 0; */
  /* --bs-secondary-color: rgba(33, 37, 41, 0.75); */
  /* --bs-secondary-color-rgb: 33, 37, 41; */
  /* --bs-secondary-bg: #e9ecef; */
  /* --bs-secondary-bg-rgb: 233, 236, 239; */
  /* --bs-tertiary-color: rgba(33, 37, 41, 0.5); */
  /* --bs-tertiary-color-rgb: 33, 37, 41; */
  /* --bs-tertiary-bg: #f8f9fa; */
  /* --bs-tertiary-bg-rgb: 248, 249, 250; */

  /* --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0)); */

  /* PAGE */
  --bs-body-color: var(--bs-black);
  --bs-body-color-rgb: var(--bs-black-rgb);
  --bs-body-bg: var(--bs-light);
  --bs-body-bg-rgb: var(--bs-light-rgb);

  /* --bs-heading-color: inherit; */
  --bs-link-color: var(--bs-primary);
  --bs-link-color-rgb: var(--bs-primary-rgb);
  --bs-link-hover-color: var(--bs-tertiary-dark);
  --bs-link-hover-color-rgb: var(--bs-tertiary-dark-rgb);
  /* --bs-code-color: #d63384; */
  /* --bs-highlight-bg: #fff3cd; */

  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

  /* Regular, Regular Italic, Bold, Bold Italic */
  --bs-body-font-family: specter, var(--bs-font-sans-serif);
  /* --bs-body-font-size: 1rem; */
  /* --bs-body-font-weight: 400; */
  /* --bs-body-line-height: 1.5; */

  /* Light, Medium */
  --bs-heading-font-family: tenon, var(--bs-font-sans-serif);

  /* ELEMENTS */
  /* --bs-border-width: 1px; */
  /* --bs-border-style: solid; */
  --bs-border-color: var(--bs-gray);
  --bs-border-color-translucent: rgba(92, 104, 112, 0.25);
  --bs-border-radius: 0.225rem;
  --bs-border-radius-sm: 0.175rem;
  --bs-border-radius-lg: 0.3rem;
  --bs-border-radius-xl: 0.5rem;
  /* --bs-border-radius-xxl: 2rem; */
  /* --bs-border-radius-2xl: var(--bs-border-radius-xxl); */
  /* --bs-border-radius-pill: 50rem; */

  /* --bs-focus-ring-width: 0.25rem; */
  /* --bs-focus-ring-opacity: 0.25; */
  /* --bs-focus-ring-color: rgba(13, 110, 253, 0.25); */
  /* --bs-form-valid-color: #198754; */
  /* --bs-form-valid-border-color: #198754; */
  /* --bs-form-invalid-color: #dc3545; */
  /* --bs-form-invalid-border-color: #dc3545; */

  --bs-btn-padding-x: 0.6rem;
  --bs-btn-padding-y: 0.2rem;
  --spooler-btn-padding-x: var(--bs-btn-padding-x);
  --spooler-btn-padding-y: var(--bs-btn-padding-y);
  --spooler-btn-padding-x-sm: calc(var(--bs-btn-padding-x) * 1.2);
  --spooler-btn-padding-y-sm: calc(var(--bs-btn-padding-y) * 1);
  --spooler-btn-padding-x-lg: calc(var(--bs-btn-padding-x) * 2);
  --spooler-btn-padding-y-lg: calc(var(--bs-btn-padding-y) * 2.6);
}

:root:root[data-bs-theme="dark"] {
  --bs-gray: #7a8b98;
  --bs-gray-rgb: 122, 139, 152;

  --bs-gray-light: #5C6870;
  --bs-gray-light-rgb: 122, 139, 152;

  --bs-body-color: var(--bs-white);
  --bs-body-color-rgb: var(--bs-white-rgb);
  --bs-body-bg: var(--bs-dark);
  --bs-body-bg-rgb: var(--bs-dark-rgb);

  --bs-link-color: var(--bs-tertiary-light);
  --bs-link-color-rgb: var(--bs-tertiary-light-rgb);
  --bs-link-hover-color: var(--bs-primary);
  --bs-link-hover-color-rgb: var(--bs-primary-rgb);
}