/* UTILITY */
body {

  .hidden-color-theme-light {
    [data-bs-theme="light"] & {
      display: none;
    }
  }

  .hidden-color-theme-dark {
    [data-bs-theme="dark"] & {
      display: none;
    }
  }

  .img-fluid-height {
    width: auto;
    height: 100%;
  }

  .shadow {
    box-shadow: 0 0.2rem 0.4rem -0.02rem rgba(var(--bs-gray-rgb), 0.2) !important;

    [data-bs-theme="dark"] & {
      box-shadow: 0 0.2rem 0.4rem -0.02rem rgba(var(--bs-black-rgb), 0.4) !important;
    }
  }

  .border-subtle {
    border-color: var(--bs-gray-light);
  }

  .border-light {
    border-color: var(--bs-border-color-translucent) !important;
  }

  .border-dark {
    border-color: rgba(var(--bs-black-rgb), var(--bs-border-opacity)) !important;
  }
}